{% extends "base.templ" %}
{% block contents %}
<div class="row">
    <div class="span10 offset1">
        <p>The best way to get in touch with me is by email at: <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#102;&#114;&#097;&#110;&#099;&#105;&#115;&#099;&#111;&#099;&#097;&#114;&#097;&#098;&#097;&#108;&#108;&#111;&#046;&#099;&#111;&#109;">contact@franciscocaraballo.com</a></p>
        <p>You can also follow me on twitter <a href="https://twitter.com/pakiko82">@pakiko82</a></p>
        <p>Find some of my work, including the source of this site at my GitHub <a href="https://github.com/hitokiri82">profile</a></p>
    </div>
</div>
{% endblock contents %}