{% extends "base.templ" %}
{% block contents %}
<div class="hero-unit">
    <img  style="float: left; margin: 0px 24px;" src="assets/img/square.png">
    <h2>Hello!</h2>
    <p>
        I'm an all around geek with interests that range from robotics to economics, going through photography and snowboarding.
    </p>
    <p>
        From this page you can go to my blog, look at my cv, take a look at some of my projects as well as some of my favorite photos
    </p>
</div>
{% endblock contents %}